/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
     }
/* Base reset */
* {
    margin: 0;
    padding: 0;
  }

  *,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
      font-size: 62.5%;
    scroll-behavior: smooth;
  }

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* nav */
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    
    box-shadow: -20px 2px 2px 2px rgba(0, 0, 0, 0.4);
    z-index:10;
    
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background:rgba(136, 245, 64, 0.356);
    rotate: 10deg;
    
  } 
 
  /* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
   background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% ); 
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: bolder;
    font-style:italic;
    color: brown;

  }
  .animate__animated.animate__backInDown,.animate__animated.animate__backInUp {
    --animate-duration:3s;
  }
  .karthik{
    animation: kar 2s linear 5s infinite ;
    
  }
  @keyframes kar { 
    10%{
        color:rgb(249, 64, 64) ;
        font-size: 8rem;
    }
    20%{
        color:rgb(244, 255, 26) ;
        font-size: 8rem;
           } 
    30%{
        color:rgb(65, 61, 2) ;font-size: 8rem;
           }
    40%{
        color:rgb(255, 255, 34) ;font-size: 10rem;
       
           }
    50%{
        color:rgb(21, 251, 255) ;font-size: 12rem;
        text-decoration: dotted;
        text-decoration-thickness:10px ;
        
           }
    60%{
        color:rgb(245, 167, 58) ;
        text-decoration:underline;
        text-decoration-thickness:1px ;
 
    }
    70%{
        color:rgb(17, 206, 102) ;font-size: 10rem;
       
    }
    80%{
        color:rgb(188, 107, 107) ;font-size: 6rem;
           }
    90%{
        color:rgb(255, 151, 31) ;
        font-size: 6rem;
    } 
  }
 
  /* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem; 
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    color: rgb(20, 238, 173);
    border-bottom: 0.4rem solid rgb(0, 255, 179);
    text-shadow: 2px 1px 1px #ffffff ;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
      padding-top: 2rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
      padding:0 2rem;
    }
  }
  
  .project {
    background:transparent;
    border-radius: 2px;
    box-shadow: 0 0 1px 2px rgba(20, 238, 172, 0.635);

  }
  .project:hover{
    scale: 1;
    box-shadow: 0 0 15px 15px rgba(20, 238, 172, 0.635);
    scale: 0.95;
    transition: all 0.5s;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit:cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .project:hover .project-title {
    color: #ff7f50;
    text-decoration:underline double;
    transition: all 0.5s;
  }
  .btn {
    display: inline-block;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 2px;
    color: turquoise;
      }
  
  .btn-show-all {
    font-size: 6rem;
    background: transparent;
  
  }
  
  .btn-show-all:hover {
    color: transparent;
    cursor:not-allowed;
  }
  
  .btn-show-all:hover > i {
    transform: translateX(100px);
    transition: 1s;
  }
  
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit:cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(49,133,78,1) 1.9%, rgba(43,40,40,1) 100.2% );
  }

  /* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 0;
  background-color: #42FF1B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%236FE750' stroke-width='66.6' stroke-opacity='0.05' %3E%3Ccircle fill='%2342FF1B' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%231ff22e' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2300e439' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300d740' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300c946' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2300bc49' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2300ae4b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2300a14c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2300944c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2300864a' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23007948' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23006c44' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23006040' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2300533b' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23004735' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23003b2e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23002f27' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2303241F' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
position: relative;
}

.contact-section-header > h2 {
  font-size: 6rem;
  }

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}


.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  font-weight: bolder;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px) translate(8px) ;
}
.g1,.g2{
  margin: 0;
  padding:0;
  width: 100%;
  height: 30%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% ); 
  position:absolute;
  bottom: 0;
  left:0;
 
}
.g1{
  clip-path: polygon(51% 38%, 78% 35%, 100% 43%, 100% 75%, 100% 100%, 0 100%, 0 43%, 0 58%, 31% 45%);
  animation: an 5s ease-in-out alternate infinite ;
}

@keyframes an {
  0%{clip-path: polygon(45% 33%, 74% 45%, 100% 57%, 100% 75%, 100% 100%, 0 100%, 0 43%, 0 53%, 16% 36%)
  }
  100%{ clip-path: polygon(51% 38%, 78% 35%, 100% 43%, 100% 75%, 100% 100%, 0 100%, 0 43%, 0 58%, 31% 45%);}
}
.g2{
  animation: an 5s ease-in-out alternate-reverse infinite ;
  z-index: +1;
opacity: 0.75;
bottom: 2.5%;

}
